body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
.btn1{
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  bg-color:
}

input[type=text], , textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit],[type=reset] {
  background-color:#45a049;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color:rgb(156, 180, 99);
  padding: 20px;
  width:40%;
}
.span1{
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;   
}